body{
  margin: auto;
 
}

*{
    direction: rtl;
    font-family: "UniQAIDAR_OMAR";
  }
  h2{
    padding-top: 8px;
  }
  .error{
    color:red;
  }
  .my-img:hover{
    filter: grayscale(0%)!important;
  }
  .card-texts{
    border-radius: 10px;
    font-size: 25px;
  }
